/*Department website and optional website: font and margin*/
.node-uw-academic-calendar .field-name-field-gsac-dept-website .field-item,
.node-uw-academic-calendar .field-name-field-gsac-optional-website .field-item,
.node-uw-academic-calendar .field-name-field-gsac-adds-list .field-item {
  margin: 0 0 0.6rem 0.6rem;
  font-weight: bold;
}

.node-uw-academic-calendar .program_node_anchor {
  margin-bottom: 2em;
}

/* Set field collection border none.*/
.node-uw-academic-calendar .field-collection-container {
  border-bottom: 0;
}

/* Archived list padding*/
.view-archived-gsac .view-content {
  padding-bottom: 1rem;
}

/* Return to result margin*/
.return_to_results {
  margin-top: 2rem;
}

/* Eight search fields*/
#views-exposed-form-gsac-search-gsac-search-result-page .views-exposed-widget select {
  margin-bottom: 0.6rem;
}

/* Field-label font*/
.node-uw-academic-calendar .program_information .field-label,
.node-uw-academic-calendar .admission_requirements li.field-label,
.node-uw-academic-calendar .admission_requirements li.field-label p a,
.node-uw-academic-calendar .degree_requirements li span,
.node-uw-academic-calendar .field-milestone-name {
  font-family: "BureauGrotCond Book",impact,"avenir next condensed heavy","Droid Sans",sans-serif;
  float: none;
  margin-top: 1.2rem;
  color: #000;
  font-weight: 400;
}

.node-uw-academic-calendar .program_information .field-label,
.node-uw-academic-calendar .admission_requirements li.field-label,
.node-uw-academic-calendar .admission_requirements li.field-label p a,
.node-uw-academic-calendar .field-milestone-name {
  font-size: 1.26562rem;
}

.node-uw-academic-calendar .admission_requirements li.field-label ul li {
  font-size: 16px;
}

.node-uw-academic-calendar .degree_requirements .field-collection-view .field-label {
  width: 100%;
}

/* Field-content font*/
.node-uw-academic-calendar .program_information .field-content,
.node-uw-academic-calendar .admission_requirements .field-content,
.node-uw-academic-calendar .degree_requirements .field-content {
  font-size: 1rem;
  font-weight: 400;
  color: #252525;
}

/* Remove ul margin-bottom*/
.uw-site-content .node-uw-academic-calendar ul {
  margin-bottom: 0;
}

.uw-site-content .node-uw-academic-calendar ol li,
.uw-site-content .node-uw-academic-calendar ul li {
  margin: .4rem 0 0 0;
}

/*The first level bullets for Length of program, minimum requirements, courses*/
.program_information .field-content ul,
.admission_requirements .field-content ul,
.degree_requirements .field-content ul {
  list-style-type: circle;
}

/*The second level bullets for Length of program, minimum requirements, courses*/
.program_information .field-content ul li ul,
.admission_requirements .field-content ul li ul,
.degree_requirements .field-content ul li ul {
  list-style-type: square;
}

/*Induction and study option fields under degree requirements*/
.degree_requirements h3,
.field-name-field-gsac-introduction {
  margin-left: -0.5rem;
}

/*Type of reference p tag display inline*/
.node-uw-academic-calendar ul.admission_requirements li ul.field-label-inline span.field-content p {
  display: inline;
}

.node-uw-academic-calendar .content {
  color: #252525;
}

/* ul margin and padding*/
.node-uw-academic-calendar ul {
  margin-left: 0.5rem;
  padding-left: 1.2rem;
}

/* Set three groups margin top*/
.node-uw-academic-calendar .field-name-field-gsac-program-markup,
.node-uw-academic-calendar .field-name-field-gsac-admission-markup,
.node-uw-academic-calendar .field-name-field-gsac-degree-markup {
  margin-top: 2rem;
}

/* Set four h2 labels font color.*/
.node-uw-academic-calendar .field-name-field-gsac-research-markup h2,
.node-uw-academic-calendar .field-name-field-gsac-program-markup h2 a,
.node-uw-academic-calendar .field-name-field-gsac-admission-markup h2 a,
.node-uw-academic-calendar .field-name-field-gsac-degree-markup h2 a {
  color: #252525;
  border-bottom-style: none;
}

/* Content nodes display: milestone. */
.field-name-field-gsac-milestone {
  margin-bottom: 1rem;
}

/* Remove .field-collection-view class style */
.field-name-field-gsac-degree-req .field-collection-view {
  padding: 0rem;
  margin: 0rem;
  border-bottom: none;
}

/* Content nodes display: degree requirements field */
.field-name-field-gsac-degree-req li {
  margin-left: 0.7rem;
}

.field-name-field-gsac-degree-req li ul li {
  margin-left: 0rem;
}

/* faculty pages and department pages */
.view-current-department-list .view-content ul,
.view-current-program-list .view-content ul {
  padding-left: 0.5rem;
}

/* set font for seven faculties and archived calendars*/
.view-display-id-faculty_ahs_page .view-content .field-content a,
.view-display-id-faculty_arts_page .view-content .field-content a,
.view-display-id-faculty_engineering_page .view-content .field-content a,
.view-display-id-faculty_environment_page .view-content .field-content a,
.view-display-id-faculty_maths_page .view-content .field-content a,
.view-display-id-faculty_science_page .view-content .field-content a,
.view-display-id-theology_page .view-content .field-content a,
.view-archived-gsac .view-content .field-content a,
.view-id-gsac_term_year .view-content .field-content a,
.view-archived-calendar-faculty-list .view-content .field-content a,
.view-archived-calendar-department-list .view-content .field-content a,
.view-archived-calendar-program-list .view-content .field-content a ,
.view-current-department-list .view-content .field-content a,
.view-current-program-list .view-content .field-content a {
  font-size: 1.26562rem;
}

/* Remove underline for Program information, Admission requirements and Degree requirements */
.field-name-field-gsac-program-markup h2 a:hover,
.field-name-field-gsac-admission-markup h2 a:hover,
.field-name-field-gsac-degree-markup h2 a:hover {
  text-decoration: none;
}

/* Make sure search result table font same. */
.view-gsac-search  .views-field-title a {
  font-family: georgia,"droid serif","Times New Roman",Times,serif;
  font-size: 0.88889rem;
  font-weight: 600;
}

/* Make keyword field height same as others. */
#edit-combine,
#edit-keyword {
  height: 32px;
}

/* Make all search fields same width. */
#edit-faculty,
#edit-dept,
#edit-term,
#edit-field-gsac-delivery-mode-tid,
#edit-type,
#edit-field-gsac-registration-option-tid,
#edit-study,
#edit-combine {
  width: 220px;
  height: 32px;
}

#edit-subject,
#edit-course-num,
#edit-by-faculty,
#edit-keyword {
  width: 220px;
  height: 32px;
}

.view-id-gsac_search table th,
.view-id-gsac_search table td {
  padding: .5em .7em;
}

/* Eight search field font color. */
.view-display-id-gsac_search_result_page .views-widget-filter-field_gsac_faculty_value select,
.view-display-id-gsac_search_result_page .views-widget-filter-field_gsac_dept_program_tid select,
.view-display-id-gsac_search_result_page .views-widget-filter-field_gsac_admit_term_tid select,
.view-display-id-gsac_search_result_page .views-widget-filter-field_gsac_delivery_mode_tid select,
.view-display-id-gsac_search_result_page .views-widget-filter-field_gsac_program_type_tid select,
.view-display-id-gsac_search_result_page .views-widget-filter-field_gsac_registration_option_tid select,
.view-display-id-gsac_search_result_page .views-widget-filter-field_gsac_study_option_tid select,
.view-display-id-gsac_search_result_page .views-widget-filter-combine input {
  color: #5e5e5e;
}

/* Set keyword search field font size same as other fields. */
.view-display-id-gsac_search_result_page .views-widget-filter-combine input {
  font-size: 0.88889rem;
}

/** This is for developer.
.breakpoint{width:auto;display:block;font-size:.7em;color:#fff;position:fixed;padding:.5rem;top:10em;font-weight:700;z-index:9;background-color:rgba(0,128,0,.7)}.breakpoint:before{content:"no break- Phone up"}@media screen and (min-width:30rem){.breakpoint{background-color:rgba(255,165,0,.7)}.breakpoint:before{content:"$screen-xsmall"}}@media screen and (min-width:40.0625rem){.breakpoint{background-color:rgba(255,0,0,.7)}.breakpoint:before{content:"$screen-small"}}@media screen and (min-width:48.0625rem){.breakpoint{background-color:rgba(255,255,0,.7);color:#252525 }.breakpoint:before{content:"$screen-medium"}}@media screen and (min-width:63.1875rem){.breakpoint{background-color:rgba(0,0,255,.7);color:#fff}.breakpoint:before{content:"$screen-large"}}@media screen and (min-width:max-height){.breakpoint{background-color:rgba(255,192,203,.7)}.breakpoint:before{content:"$screen-ipadL"}}.uw-site{background:teal}.js .uw-site{background:0 0}
**/
/* min-width phone-up. */
/* Search and reset buttons*/
#views-exposed-form-gsac-search-gsac-search-result-page input[type=submit],
#views-exposed-form-graduate-course-search-page input[type=submit] {
  padding: 5px 10px;
  font-size: 1rem;
}

#edit-submit-graduate-course-search {
  padding: 5px 10px;
  margin-top: -4px;
  font-size: 1rem;
}

/* Search and Reset buttons*/
#views-exposed-form-gsac-search-gsac-search-result-page .views-exposed-widget.views-submit-button,
#views-exposed-form-gsac-search-gsac-search-result-page .views-exposed-widget.views-reset-button {
  margin-top: 0.5rem;
  padding: 0 0.5rem 0 0;
}

/* Remove padding left from edit-combine (keyword input field).*/
#views-exposed-form-graduate-course-search-page #edit-combine {
  padding-left: 0;
}

.course_id {
  float: left;
  font-size: 1rem;
  font-weight: 500;
  color: #252525;
}

.course_des {
  margin: 3em 0 2em 0;
  font-size: 1rem;
  font-weight: 400;
  color: #252525;
}

#edit-subject-wrapper select,
#edit-by-faculty-wrapper select,
#edit-course-num-wrapper input[type=text] {
  margin-bottom: 10px;
}

.view-id-gsac_course_via_subject h2 a:link {
  text-decoration: underline;
}

.view-display-id-course_by_subject .field-content h2 {
  color: #757575;
}

/* min-width medium. */
@media screen and (min-width:48.0625rem) {
  .view-display-id-gsac_search_result_attachment {
    display: none;
  }
}

@media screen and (max-width:48.0624rem) {
  .view-display-id-gsac_search_result_page table,
  .view-dom-id-19eabdb1326da6dc88275803ee1fc399 .item-list {
    display: none;
  }
  .view-display-id-gsac_search_result_attachment .view-header,
  .view-display-id-gsac_search_result_attachment .view-footer {
    display: none;
  }
  .view-display-id-gsac_search_result_attachment .view-content .gsac-search-result-attachment-row {
    margin-bottom: 2rem;
  }
}
